/*comentarios*/


h1 {
    color: crimson
  }

  p {
    color: rgb(243, 11, 11);
    background-color: rgb(160, 220, 20);
    padding: 15px;
    border: 10px rgb(18, 32, 235);
    margin: 50px;
    
  }
/**/